/*

	COLORS

	red : #a30a02;

*/



body>.container-fluid{
	padding: 0;
}


h1{
	font-family: 'Baloo Paaji', cursive;
	font-size: 55px;
}

h2{
	font-family: 'Baloo Paaji', cursive;
	font-size: 38px;
}

p{
	font-family: 'Lora', serif;
	font-size: 17px;
}
a{
	color: inherit;
	text-decoration: none;
}

a:hover{
  	text-decoration: none;
  	color: #a30a02;
}


/*

	NAVBARS

*/

#social-navbar, #main-nav{
	background: #fff;
	border: none;
	border-radius: 0;
}

#social-navbar ul, #main-nav ul{
	float: right;
}

#social-navbar{
	margin-bottom: 0;
	background: black;
	color: white;
}

#social-navbar a{
	color: #fff;
}

#social-navbar a:hover{
	color: #f00;
}

#social-navbar .navbar-nav>li:first-child{
	padding-top: 5px;
}

#social-navbar .navbar-nav>li:last-child>a{
	padding-right: 0;
}

#social-navbar img{
	height: 30px;
}

#main-nav{
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	font-weight: bold;
	margin-bottom: 0;
}

#main-nav img{
	height: 50px;
	margin-left: 20px;
	margin-top: 5px;
}

.navbar-default .navbar-toggle{
	border-radius: 0;
	margin-right: 0;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
	background-color: #a30a02;
}

.navbar-default .navbar-toggle:hover .icon-bar, .navbar-default .navbar-toggle:focus .icon-bar{
	background-color: #000;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
	background-color: #a30a02;
	color: #fff;
}
.nav>li{
	float: left;
	position: relative;
}

#main-nav-collapse{
	padding: 5px 0;
}

/*

	SECTION HOMEPAGE

*/

#section_aboutus{
	background: url('../img/ratatouille-HP-visuel-top.jpg') center;
	background-size: cover;
	border-bottom: 1px solid black;
	margin-bottom: 0;
	margin-top: 0;
	height: 100vh;
	position: relative;
}

#section_aboutus h1{
	color: #fff;
	font-weight: bold;
	padding-top: 215px;
}

#section_aboutus h1 small{
	color: #fff;
	font-size: 30px;
}

#section_aboutus .btn{
	background-color: #a30a02;
	border: none;
	border-radius: 0;
	bottom: 10%;
	color: #fff;
	font-weight: bold;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

#section_aboutus .btn:hover{
	background-color: #fff;
	border: 1px solid #a30a02;
	color: #a30a02;
}

section{
	min-height: 300px;
	border-bottom: 1px solid black;
}

section h2{
	margin-bottom: 30px;
}

section .btn{
	background-color: #a30a02;
	border: 0px solid white;
	border-radius: 0;
	color: #fff;
	font-weight: bold;
	margin-bottom: 30px;
}

section .btn:hover{
	background-color: white;
	color: #a30a02;
}

.last_section{
    border-bottom: none;
}

#section_events ul li:first-child h3{
	margin-top: 0;
}

#section_events img{
	display: block;
	margin: auto;
}

#section_events h2{
	padding-top: 60px;
}

#section_events h3{
	text-align: center;
}

#section_events p{
	padding: 20px;
	text-align: justify;
}

#section_events .card{
	background: linear-gradient(to bottom, transparent, #f0f0f0);
	margin-top: 60px;
	margin-bottom: 5px;
	padding: 20px;
}

#section_events .card div{
	text-align: center;
}

#section_events .card button{
	bottom: 5px;
}

#section_franchise{
	background: url('../img/ratatouille-hp-part-franchise.jpg') center;
	background-size: cover;
	position: relative;
}

#section_franchise h2{
	color: white;
	margin-top: 0;
	padding-top: 170px;
	font-size: 50px;
}

#section_franchise .btn{
	bottom: 70px;
	left: 50%;
	margin-bottom: 0;
	position: absolute;
	transform: translateX(-50%);
}

.button_news{
	margin-top: 40px;
}

/*

	SECTION CONCEPT RATATOUILLE

*/

#section_introconcept{
	margin-top: 60px;
}

#section_introconcept h1{
	margin-bottom: 10px;

}

#section_introconcept p{
	padding-top:20px;
	margin-bottom: 60px;
}

#section_introconcept img{
	margin:auto;
	margin-bottom: 30px;
	display:block;
}

#section_introconcept aside{
	margin-top:40px;
}

#section_conceptunique{
	padding-top:60px;
	padding-bottom:60px;
}

#section_conceptunique p{
	margin-bottom: 20px;
}

#section_savoirfaire{
	padding-top:60px;
	padding-bottom:60px;
}

#section_engagement{
	padding-top:60px;
	padding-bottom:60px;
}

#section_boutonsconcept{
	padding-top:60px;
	padding-bottom:60px;
	border-bottom: none;
}

#section_boutonsconcept .img-responsive{
	padding-bottom:20px;
}


/*

	SECTION FRANCHISE

*/

.first_section{
    padding-top: 100px;
    margin-top: 60px;
}

#section_possibilities_franchise .franchise-checklist{
	margin-top: 20px;
	margin-bottom: 60px;
}

#section_possibilities_franchise h1{
	margin-top: 20px;
}

#section_advantages_franchise ul, #section_advantages_franchise img{
    margin-bottom: 60px;
}

#section_advantages_franchise h2{
	padding-top: 40px;
	margin-bottom: 50px;
}

#section_advantages_franchise img{
	padding-bottom: 30px;
}

#section_form_franchise .form-button{
    text-align: center;
}

#section_form_franchise h2{
	padding-top: 40px;
	margin-bottom: 50px;
}

#section_record_franchise h2{
	padding-top: 40px;
}

#section_record_franchise{
	margin-bottom: 50px;
}

/*

	PAGE NOS RESTAURANTS

*/

#top_page_restaurants p{
	margin-top: 15px;
	margin-bottom: 80px;
}

#current_restaurants h2, #next_restaurants .card_restaurants h2{
	font-size: 25px;
}

#next_restaurants .card_restaurants{
    opacity: 0.7;
}

#next_restaurants_title{
    padding: 30px  0;
}

.card_restaurants{
    background: #f0f0f0;
    border: 1px solid #1c1c1c;
    margin: 60px auto;
    padding: 100px 20px 0px 20px;
    position: relative;
}



.card_restaurants img{
    left: 50%;
    position: absolute;
    top: 0;
    transform: translateX(-50%) translateY(-50%);
}

/*

PAGE RESTAURANT LA LOUPE

*/

#section_restaurantlaloupe{
	background: url('../img/page-type-restaurant-visuel1.jpg') center;
	background-size: cover;
	margin-bottom: 0;
	margin-top: 0;
	height: 100vh;
	position: relative;
}

#section_restaurantlaloupe h1{
	color: #ffffff;
	font-weight: bold;
	margin-top: 0;
	position: relative;
	top: 35%;
	text-align: center;
	line-height: 1.500;
}

#section_chefloupe{
	padding-top:60px;
	padding-bottom:60px;
}

#section_lacarte{
	padding-top:60px;
	padding-bottom:60px;
}

#section_horaires_acces{
	padding-top:60px;
	padding-bottom:60px;
}

/*

PAGE ACTUALITES

*/
#section_news_list h1{
	padding-bottom: 40px;
}

#section_news_list img{
	padding-top: 20px;
}

/*

	MENTIONS LEGALES

*/

#section_mentions_legales{
    border-bottom: none;
    padding-top:60px;
	padding-bottom:60px;
}

#section_mentions_legales h1{
	padding-bottom:20px;
}



#section_news_list .news_card{
    margin-bottom: 60px;
}

#section_news_list .news_card .container{
	background: #fafafa;
    border: 1px solid #f0f0f0;
    padding: 20px;
}

#section_news_list .news_card .btn{
    margin-bottom: 0;
}

#section_news_list .news_card .news_card_button{
	text-align: center;
}


/*

	FOOTER

*/

footer{
	background: black;
	color: white;
	padding-top: 20px;
	text-align: center;
}

footer a{
	color: white;
	font-weight: bold;
	padding: 0 5px;
}

footer a:hover{
	color: rgba(255, 0, 0, 0.9);
	cursor: pointer;
	text-decoration: none;
}

footer img{
	width: 20px;
}

footer p{
	padding-top: 10px;
	padding-top: 20px;
	font-size: 11px;
}

